body {
    margin: 0;
}

.navbar {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.nav-link {
    color: whitesmoke;
    font-size: 20px;
}
.nav-link:hover {
    color: grey;
}

.details {
    margin: 75px auto 75px auto;
}
.dhead {
    margin-bottom: 40px;
}
.dpara {
    margin: auto auto 75px 30px;
}
.doubt {
    margin-left: 20px;
}
.image {
    margin-bottom: 50px;
}

.icons {
    color:black !important;
    font-size:24px !important;
    margin: auto 5px auto 5px;
}
.icons1 {
    color:black !important;
    font-size:20px !important;
    margin: auto 5px auto 5px;
}

/* Small (sm) devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .display-4, .contact{
        font-size: 300%  !important;
        text-align: center;
    }
}
