body {
    margin: 0;
}

.navbar {
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}
.nav-link {
    color: whitesmoke;
    font-size: 20px;
}
.nav-link:hover {
    color: grey;
}

.heading {
    text-align: center;
    margin: 75px auto 50px auto;    
}

.button1 {
    margin-bottom: 50px;
}