body {
    margin: 0;
}

.navbar {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.nav-link {
    color: whitesmoke;
    font-size: 20px;
}
.nav-link:hover {
    color: grey;
}

.heading {
    text-align: center;
    margin: 75px auto 50px auto;    
}

.button1 {
    margin-bottom: 50px;
}

.icons {
    color:black !important;
    font-size:24px !important;
    margin: auto 5px auto 5px;
}